body {
    background: rgb(23, 23, 44);
}

.startPageContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.dev{
    height: 50dvh;
    background-color: rgb(23, 23, 44);
    position: relative;
}

.photos{
    height: 50dvh;
    align-content: center;
    background-color: white;
}

img{
    max-height: 40vh;
}

.box-inner {
    position: absolute;
    bottom: -10px;
    width: 100vw;
    height: 75px;
    z-index: 9;
    zoom: 1.0;
    background-image:
            url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='200'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23ffffff' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23ffffff' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
            url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='200'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23ffffff' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23ffffff' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
            url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='200'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23ffffff' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23ffffff' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");

    background-repeat: repeat-x;
    background-size: 600px 75px;
    background-position: 0 50%, 20px 10%, 1000px 15%;
    background-attachment: scroll;

    pointer-events: none;

    -webkit-animation: 90s waves linear infinite forwards;
    animation: 90s waves linear infinite forwards;
}

@-webkit-keyframes waves {
    to {
        background-position: 1500px 50%, 2550px 50%, 3000px 50%;
    }
}

@media only screen and (orientation: landscape) {
    body {
        height: 100dvh;
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
        max-height: 100vh;

        background: linear-gradient(to right, rgba(23, 23, 44, 100%),rgba(23, 23, 44, 100%), white) no-repeat;
        zoom: 1;
    }

    .startPageContainer{
        height: 100dvh;
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        flex-direction: row;
        overflow: hidden;
    }

    .dev {
        height: 100vh;
        width: 55vw;
        flex-direction: row;
        align-content: center;
    }


    .box-inner {
        rotate: -90deg !important;
        position: absolute;
        top: 50vh;
        left: 6.5%;
        zoom: 1.5;
        max-height: 100vh;
    }

    .photos{
        min-height: 100vh;
        width: 45vw;
        align-content: center;
    }
}