:root {
    --blueBckg: rgb(23, 23, 44)
}

.innerMargin {
    padding: 20px;
}

h3 {
    font-weight: 200;
    margin-bottom: -10px;
    margin-top: 30px;
}

h4 {
    font-weight: 100;
}

h5 {
    margin: 0;
}

.devContainer {
    background: var(--blueBckg);
    color: white;
    min-height: 100dvh !important;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px !important;
    text-align: center;
    z-index: 2;
    background: var(--blueBckg);
    margin-bottom: 40px;
}

.header img {
    max-height: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
    overflow: hidden;
}

.intro {
    text-align: left;
    font-size: large;
    background: white;
    color: rgb(23, 23, 44);
    padding-bottom: 40px;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background: white;
}

.technologies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    color: white;
    align-content: flex-start;
}

.techItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.techItemContainer svg {
    height: 2.5rem;
    width: 2.5rem;
}

.techItemContainer h4 {
    width: 85px;
    word-break: break-word;
    text-align: center;
    margin-top: 10px;
}

.projects {
    background: white;
    color: rgb(23, 23, 44);
}

.subprojects {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    justify-content: center;
}

.projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 6px;
    padding: 10px;
    margin: 20px 0 20px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}

.projectTitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: none;
    padding-top: 15px;
    max-width: 280px;
}

.projectTech {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    max-width: 300px;
    position: absolute;
    top: 35%;
}

.projectTech img {
    max-width: 24px;
    max-height: 24px;
}

.projectTech > span {
    padding: 0 6px;
}

.button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    background: transparent;
    margin: 0;
    border: none;
    z-index: 9;
}

.button:hover{
    background: var(--blueBckg);
    color: white;
    cursor: pointer;
    border-radius: 20%;
}



.modalBox {
    background: white;
    width: 90dvw;
    min-height: 50dvh;
    max-height: 80dvh;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    position: relative;
    overflow: scroll;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    color: rgba(128, 128, 128, 0.5);
}

.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.projectInfo-description{
    text-align: initial;
    min-width: 40dvw;
    padding: 20px 20px;
}

.projectInfo-tech{
    min-width: 40dvw;
}

.projectInfo-tech ul {
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
}

.projectInfo-screenshots {
    /*min-width: 30dvw;*/
}

.git {
    padding: 20px;
    background: rgb(23, 23, 44);
    color: white;
}

.git a img{
    object-fit: cover;
    height: 125px;
    max-width: 100%;
    object-position: 100% 0;
}

.devFooter {
    bottom: 0;
    left: 0;
    height: 40px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: white;
    color: rgb(23, 23, 44);
}

@media only screen and (min-width: 600px) {
    .subprojects {
        justify-content: initial;
    }

    .projectInfo{
        flex-direction: row;
        /*justify-content: space-between;*/
        /*align-items: flex-start;*/
        padding: 20px 0;
    }
    .projectInfo-description{
        padding: 0 20px;
    }
    .projectInfo-tech{
        min-width: 30dvw;
    }

}
@media only screen and (min-width: 768px) {
    .innerMargin {
        padding: 50px;
    }
    .gitChart {
        text-align: center;
    }
}