:root {
    --blueBckg: rgb(23, 23, 44)
}

h3 {
    font-weight: 200;
}

h4 {
    font-weight: 100;
}

.devContainer {
    background: var(--blueBckg);
    color: white;
    min-height: 100dvh !important;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px !important;
    text-align: center;
    z-index: 2;
    background: var(--blueBckg);
    margin-bottom: 40px;
}

.header img {
    max-height: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
    overflow: hidden;
}

.info {
    /*flex: 1;*/
    max-height: fit-content;
}

.intro {
    padding: 20px;
    text-align: left;
    font-size: large;
    background: white;
    color: rgb(23, 23, 44);
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background: white;
    padding: 20px;
}

.technologies {
    padding: 20px;
    flex: 1;
}

.technologies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    color: white;
    align-content: flex-start;
}

.techItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.techItemContainer svg {
    height: 2.5rem;
    width: 2.5rem;
}

.projects {
    padding: 20px;
    background: white;
    color: rgb(23, 23, 44);
}

.personalProjects,
.workProjects {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.projectCard{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 150px;
    border-radius: 6px;
    padding: 10px;
    margin: 0 0 25px  0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: relative;
}

.projectTitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: none;
}

.shortDescription{
    text-align: justify;
    font-size: 1rem;
}

.projectTech{
    font-size: 1.5rem;
    margin: 1rem auto;
}

button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 10px;
    /*background: transparent;*/
    margin: 0;
    border: none;
    z-index: 9;
}

.button:hover{
    background: var(--blueBckg);
}


.git {
    padding: 20px;
    background: rgb(23, 23, 44);
    color: white;
}

.devFooter {
    bottom: 0;
    left: 0;
    height: 40px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: white;
    color: rgb(23, 23, 44);
}
