body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100dvh;
}

body {
    overflow: scroll;
    -webkit-background-clip: content-box;

    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;

    margin-top: env(safe-area-inset-top);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

